.room-list {
  .card {
    .card-body {
      flex: inherit;
    }
  }

  .card-button {
    height: 370px;
    cursor: pointer;

    @media (max-width: 576px) {
      height: 390px;
    }

    img {
      width: 20%;
      margin: auto;
      vertical-align: middle;
    }
    .card-title {
      text-align: center;
    }
  }
  .card-room {
    height: 370px;

    @media (max-width: 576px) {
      height: 390px;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

.image-list-edit {
  img {
    width: 50%;
    margin: auto;
    vertical-align: top;
  }

  .center-delete-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: 2px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
    text-align: center;
  }
}

.customizer {
  margin-top: 70px;
}
.show-service-panel {
  width: 60%;
}
.add-room-pannel {
  .nav-tabs {
    margin-bottom: 2%;
  }
}
